!!! 5
%html
  %head
    %title Cicio's Rotten Potatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %header
    = link_to "Cicio's Rotten Potatoes", :root, id: 'banner'

  %body   
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    #main
      = yield
